#container{
    margin-left: auto;
    margin-right: auto;
    padding: 60px 20px;
    width: 75%;
    text-align: center;
    /*display: flex;
    flex-wrap: wrap;*/
    background-color: whitesmoke;
}

#main-area {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    /*width: 50px;
    height: 100px;*/
    background-color: wheat;
}

#buttonholder {
    /*width: 400px;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 100px;*/
    background-color: blue;
    display: inline-block;
    border-radius: 10px;
    
}

button {
    margin: 12px 12px;
    padding: 15px;
    width: 100px;
}

#result {
    background-color: white;
    display: inline-block;
    color: blue;
}



