#buttonholder {
    /*width: 400px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: blue;
    display: inline-block;
    
}

#container{
    margin-left: auto;
    margin-right: auto;
    padding: 50px 10px;
    /*width: 400px;*/
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

button {
    margin: 12px 12px;
    padding: 15px;
    width: 100px;
}

#result {
    background-color: blueviolet;
    display: inline-block;
}

#headline {
    display: inline;
}